---
version: '2'

services:
  influxdb:
    image: influxdb:latest
    container_name: cdn-influxdb
    hostname: cdn-influxdb
    restart: always
    ports:
      - 8086:8086
    volumes:
      - ~/influx_db_data:/vol01/Docker/monitoring


